h2  {
  color: white;
  text-align: center;
  font-size: 30px;
  font-weight: 950;
}

label {
color: white;
font-size: 18px; /* Example font size */
font-weight: 400;
margin-top: 30px;
margin-bottom: 30px;
}

body {
  background-image: url('Taytay.jpg');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  min-height: 100vh;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

div.submit {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80px;
  height: 32px;
  margin-top: 20px;
  padding: 20px;
}

button {
  margin: 0 7px; /* Adjust the margin as needed */
  border-radius:0.2em;
  box-sizing: border-box;
  font-weight:400;
  box-shadow:inset 0 -0.6em 1em -0.35em rgba(0,0,0,0.17),inset 0 0.6em 2em -0.3em rgba(255,255,255,0.15),inset 0 0 0em 0.05em rgba(255,255,255,0.12);
  cursor: pointer;
}

#refreshButton,
#send,
#save {
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.box-score {
margin-top: 10px;
border: 2px solid #888484;
margin-left: 10px;
border-radius: 20px;
max-width: 200px;
background-color: transparent;
}

.question-box {
border: 2px solid #ccc; /* Add a border around the box */
padding: 50px; /* Add some padding inside the box */
margin: 200px auto; /* Center the box horizontally */
border-radius: 10px; /* Add rounded corners to the box */
background-color: transparent; /* Set background color for the box */
max-width: 600px; /* Set maximum width for the box */
text-align: center; /* Center the content within the box */
margin-bottom: 0px;
}

  button.submit-btn,
  button.submit-btn2,
  button.submit-btn3,
  button.submit-btn4,
  button.submit-btn5 {
  min-width: 10px;
  min-height: 10px;
  font-family: 'Nunito', sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: 450;
  color: #313133;
  background: #4FD1C5;
  background: linear-gradient(90deg, rgba(129,230,217,1) 0%, rgba(79,209,197,1) 100%);
  border: none;
  border-radius: 1000px;
  box-shadow: 12px 12px 24px rgba(79,209,197,.64);
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 5px;
}

button.submit-btn:hover,
button.submit-btn2:hover,
button.submit-btn3:hover,
button.submit-btn4:hover,
button.submit-btn5:hover,
button.submit-btn:focus,
button.submit-btn2:focus,
button.submit-btn3:focus,
button.submit-btn4:focus,
button.submit-btn5:focus {
  color: #313133;
  transform: translateY(-6px);
}

.incorrect {
color: red;
}

.correct {
color: green;
font-weight: 700;
}


@media screen and (max-width: 950px) {
  body {
    font-size: 16px; /* Example: Change font size */
  }
  .container {
    width: 90%; /* Example: Adjust container width */
    margin: 0 auto; /* Example: Center the container */
  }
  /* Add more rules as needed */
}


